

<html>

<body>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<table>
  <tr>
    <th>gst_id</th>
    <th>acc_no</th>
    <th>bus_name</th>
    <th>email_id</th>
    <th>phone_no</th>
    <th>hq_address</th>
    <th>sector</th>

  </tr>
  {%for obj in obj_list%}
  <tr>

    <td>{{obj.gst_id}}</td>
    <td>{{obj.acc_no}}</td>
    <td>{{obj.bus_name}}</td>
    <td>{{obj.email_id}}</td>
    <td>{{obj.phone_no}}</td>
    <td>{{obj.hq_address}}</td>
    <td>{{obj.sector}}</td>

  </tr>
  {%endfor%}


</table>



</body>
</html>
