<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Businesses</title>
	<!--{% load staticfiles %}-->    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">
    

   
    <link rel="stylesheet" type="text/css" href={%static 'gst/style2.css'%}>
	<link rel="stylesheet" href={%static "gst/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={%static "gst/css/font-awesome.min.css"  %}>
    <link rel ="stylesheet"  href={%static 'gst/style.css'%}>
    
</head>
<body style="background-color: #0A0A0C">
 <header class="site-header">
    
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
    
        <nav class="navbar navbar-default" style="background-color: #0A0A0C">
			<div class="container">
	
				<a href="http://127.0.0.1:8000/" class="navbar-brand">
                <img src="{%static "gst/emblem.png"%}" alt="emblem yahi banayenge" id="emblem">					
				</a>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav main-navbar-nav">
                        <li class="active"><a href="http://127.0.0.1:8000/" title="">HOME</a></li>
                        <li><a href="#" onclick=location.href="http://127.0.0.1:8000/about" title="">ABOUT</a></li>
                        <li><a href="#" onclick=location.href="http://127.0.0.1:8000/business/display" title="">OUR BUSINESSES</a></li>
                        <li><a href="#" onclick=location.href="http://127.0.0.1:8000/business/create" title="">REGISTER YOUR BUSINESS</a></li>
       
                    </ul>                           
                </div><!-- /.navbar-collapse -->                
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>        
    </header>


<h1 style="font-size: 50px;margin-left: 50px;margin-top: 70px">Manage Your Business</h1>
<div class="container2">
	<div class="homeBox">
			<div class="one_fourth">

				<div class = "boxImage"><img src = "{% static "gst/new.png" %}"></div>	

				<h2 onclick=location.href="http://127.0.0.1:8000/business/create">INSERT</h2>			

				<div class = "boxDescription">SOmething about create</div>	

			</div>

			<div class="one_fourth">

				<div class = "boxImage"><img src = "{% static "gst/131.png" %}"></div>	

				<h2 onclick=location.href="http://127.0.0.1:8000/business/display">DISPLAY</h2>

				<div class = "boxDescription"> Something about display</div>				

			</div>

			<div class="one_fourth">

				<div class = "boxImage"><img src = "{% static "gst/up1.jpg" %}"></div>	

				<h2 onclick=location.href="http://127.0.0.1:8000/business/update">UPDATE</h2>

				<div class = "boxDescription"> Something about update</div>				

			</div>

			<div class="one_fourth last">

				<div class = "boxImage"><img src = "{% static "gst/45.png"%}"></div>	

				<h2 onclick=location.href="http://127.0.0.1:8000/business/delete">DELETE</h2>

				<div class = "boxDescription">Something about delete</div>
				

			</div>

		</div>
</div>
</body>
</html>



<!-- <a href="http://127.0.0.1:8000/business/create">Insert</a>
<a href="http://127.0.0.1:8000/business/update">Update</a>
<a href="http://127.0.0.1:8000/business/delete">Delete</a>
<a href="http://127.0.0.1:8000/business/display">Display</a> -->
<style type="text/css">
#emblem{
        height: 75px;
        width: 55px;
        margin-top: -17px;
        margin-left: -100px;
}</style>
