
<html>
<head>
  {% load staticfiles %}

<link rel ="stylesheet"  href={%static 'gst/style.css'%}>

<title>GST IMPLEMENTATION</TITLE>
</head>
<body>

<div style= "color:#696969">
<h1> GST Implementation</h1>
</div>

<div style= "color:#66CCCC">
<h2> Entities</h2>
</div>

<div class="tab">

<button class="tablink" onclick=location.href="product.html">Product</button>
<button class="tablink" onclick=location.href="business.html">Business</button>
<button class="tablink" onclick=location.href="service.html">Service</button>
<button class="tablink" onclick=location.href="b2b.html">B2B Transactions</button>
<button class="tablink" onclick=location.href="b2c.html">B2C Transactions</button>

</div>
</body>
</html>
